################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Estatistica101/.vs/Estatistica101/v16/Server/sqlite3
/.vs
/Dominio/bin/Debug/netcoreapp3.1
/Estatistica101/bin/Debug/netcoreapp3.1
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log
*.DS_Store
[Tt]humbs.db
_ReSharper.*
*.resharper
Ankh.NoLoad
setup.exe
_UpgradeReport_Files/
UpgradeLog.XML
*.vspscc
*.vssscc
*.scc
*.sqlsuo